*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #1D1D1B;
}

h1, h2 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container{
  max-width: 1520px;
  margin: 0 auto;
}