.header{
  padding-top: 30px;
  padding-bottom: 160px;
}



.dropdown-toggle{
  color: #1D1D1B;
}

.accordion-section{
  background-color: antiquewhite;
  padding-bottom: 35px;
}

.accordion{
  max-width: 800px;
  margin: 0 auto;
}

.hero-carousel{
  max-width: 600px;
}